@import './base_styles/normalize';
@import './base_styles/reset';

iframe {
  display: none;
}

.App {
  font-family: Roboto, Arial, sans-serif;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__content {
    padding: 24px;
  }
}
